*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}
/*=====================================*/
/*========= BARRA NAV =================*/
/*=====================================*/

.barranav {
  width: 100%;
  background-color: rgba(247, 168, 223, 1);
  height: auto;
}

.marca {
  align-self: center;
  width: 250px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  /* text-shadow: -2px 2px black;*/
  font-size: 20px;
}

.nav-item {
  margin-left: 50px;
}

.boton-nav {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  color: white !important;
}

/*=====================================*/
/*========= SECCION PROMOCIONES =======*/
/*=====================================*/

#promociones {
  padding: 20px 0 120px 0;
}
.titulo {
  text-align: center;
  font-size: 3rem;
}

.grid-images {
  justify-content: space-evenly;
}

.fondo-card-promociones {
  background-color: rgb(187, 183, 183);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.img-promo-promociones {
  max-height: 400px;
  object-fit: cover;
  filter: drop-shadow(1px 1px 10px rgb(208, 255, 0));
}

.card {
  border: none;
  padding: 0px 0;
  margin-top: 25px;
}
/*=====================================*/
/*========= SECCION INICIO ============*/
/*=====================================*/
#inicio {
  margin: 50px 0 50px 0;
  padding-top: 50px;

  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("../images/fondos/fondo1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#logo_texto {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
div#presentacion {
  align-self: center;
}
.logo {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

#texto_presentacion {
  width: auto;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border-top: 2px dotted black;
  border-bottom: 2px dotted black;
}
p#eslogan {
  box-sizing: border-box;
  font-family: "Dancing Script", cursive;
  color: #0c0c0c;
  font-size: 20px;
  padding: 40px 0;
  text-align: center;
}

/*=====================================*/
/*========= CARRUSEL =================*/
/*=====================================*/

.carusel-index {
  max-height: 600px;
  box-shadow: 2px -2px 300px rgba(255, 18, 1, 0.959),
    -25px 25px 26px -3px rgba(0, 0, 0, 0.75);
}

.foto-carousel {
  height: 500px;
}

/*=====================================*/
/*========= SECCION FOOTER ============*/
/*=====================================*/

footer {
  background-color: rgba(0, 0, 0, 1);
  color: white;
  text-align: center;
  padding: 20px;
  bottom: 0;
  width: 100%;
  height: auto;
}

.h6-footer {
  padding: 20px;
}
.redes-icons-footer {
  padding: 10px;
}
.redes-icons-footer a {
  display: inline-block;
  padding: 10px 20px;
  color: rgba(231, 120, 198, 1);
  text-decoration: none;
  font-size: 45px;
}

.contenedor_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;

  gap: 10px;
}

.contenedor-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-evenly;
}

.contenedor-cards img {
  width: 65px;
  height: 30px;
  border: 1px solid white;
  border-radius: 5px;
}

#mask {
  mask-image: linear-gradient(black 80%, transparent);
}

/*=====================================*/
/*========= CARTUCHERAS.PHP ==========*/
/*====================================*/

body.cartuchera-body {
  min-height: 100vh;
  height: auto;
  background-image: url('../images/fondos/p10.png');
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
  
  
}

/* Aplica un contenedor sobre el fondo para hacerlo borroso*/
body.cartuchera-body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-position: inherit;
  background-size: contain;
  background-repeat: repeat;
  filter: brightness(100%); /* Controla el nivel de desenfoque */
  z-index: -1;
  box-sizing: border-box;
}


nav.cartuchera-nav {
  width: 100%;
  background-color: rgb(255, 151, 173);
  height: auto;
}

section#slide-cartuchera {
  
}

div.contenedor-slide-cartuchera {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.85);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 50vh;
  margin-top: 70px;
  border-top: 3px dotted black;
  border-bottom: 3px dotted black;
}

.box1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: transparent;
  padding: 20px;
  width: 30%;
  
}
.box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  background-color: transparent;
  padding: 20px;
  width: 45%;
}

p.propaganda1 {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(255, 151, 173);
  text-shadow: -2px 2px #0c0c0c;
  animation: fadeIn 6s ease-in-out infinite;
}
a.propaganda2 {
  font-size: 2.8rem;
  font-weight: bold;
  color:rgb(255, 151, 173);
  text-shadow: -2px 2px #0c0c0c;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a.propaganda2:hover {
  color: #FFD700; /* Cambia el color en hover */
}

p.propaganda3 {
  font-size: 2rem;
  color: rgb(255, 151, 173);
  font-weight: bold;
  text-shadow: -2px 2px #0c0c0c;
  animation: fadeIn 2s ease-in-out infinite;
}


@keyframes fadeIn {
  0% { opacity: 0; transform: translateX(-50px); }
  100% { opacity: 1; transform: translateY(0); }
}


img.img-slide {
  margin-top: 250px;
}

.pic-slide-tienda {
  object-fit: cover;
  height: 350px;
}


section#cartucheras {
  height: auto;
  /*background-image: linear-gradient(
      rgba(228, 152, 243, 0.425),
      rgba(241, 250, 117, 0.685)
    ),
    url("../images/fondos/fondo4.png");
  background-repeat: repeat;
  background-size: contain;
  background-position: center;*/
  background-color: transparent;
  /*clip-path: polygon(0 9%, 17% 2%, 28% 0, 76% 0, 92% 5%, 100% 6%, 100% 93%, 91% 98%, 66% 100%, 15% 100%, 4% 97%, 0% 85%);*/
}

h3.titulo-categoria {
  font-size: 5rem;
}

div.listas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 0 50px 0;
  gap: 10px;
  background-color: rgb(255, 255, 255);
  
  border-radius: 20px;
}

.contenedor-foto {
  display: flex;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  border-radius: 50%;
  padding: 10px;
  width: 400px;
  height: auto;
  max-height: 400px;
  justify-content: center;
}

img.imagen-render-vistas {
  width: 300px !important;
  height: auto;

}



div.contenedor-detalle {
  width: 600px;
}

.card-body-tienda {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 250px;
  width: 100%;
}

.item-card {
  border: 1px solid gray;
  background-color: rgb(233, 225, 117);
}

span.dato {
  padding-left: 20px;
}

a.add-carrito {

}


.img-promo-tienda {
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  filter: drop-shadow(1px 1px 10px rgb(252, 252, 94));
}

.img3 {
  display: block;
  width: 300px; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: auto;
  border-radius: 10px; /* Bordes redondeados */
  border: 5px solid transparent; /* Borde inicial transparente */
  transition: border-color 2s ease-in-out; /* Transición suave */
}

/* Efecto de borde brillante con animación */
.img3:hover {
  border-color: #ff5733; /* Color inicial del borde */
  animation: bordeBrillante 5s infinite alternate; /* Animación infinita */
}

@keyframes bordeBrillante {
  0% {
    border-color: #ff5733; /* Color rojo anaranjado */
  }
  25% {
    border-color: #ffc300; /* Color amarillo */
  }
  50% {
    border-color: #28a745; /* Color verde */
  }
  75% {
    border-color: #3498db; /* Color azul */
  }
  100% {
    border-color: #9b59b6; /* Color púrpura */
  }
}

/*=======================================*/
/*===== PANEL.PHP - AGREGAR PRODUCTOS ===*/
/*=======================================*/

nav.panel-nav {
  height: auto;
  background-color: #f5c6cb;
}

div.contenedor-barra {
  padding: 0px 0px 10px 0px;
  gap: 10px;
}

div#panel-navbarScroll {
  background-color: #f5c6cb;
  margin-right: 30px;
}

button.navbar-toggler {
  margin-right: 10px;
}

body#body-panel {
  min-height: 100vh;
  background-image: linear-gradient(
      rgba(94, 252, 46, 0.425),
      rgba(250, 100, 113, 0.685)
    ),
    url("../images/fondos/fondo1.png");
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
}

/*************************************/
/*******  SECCIÓN LOGIN ADMIN  *******/
/*************************************/

#session-adm {
  width: 100%;
  max-width: 40vw;
  min-width: 300px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 20px;
  /*background-color: rgb(239, 138, 138);*/
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.425),
      rgba(255, 255, 255, 0.87)
    ),
    url("../images/panelimg/nina2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

div.container.login {
  width: 100%;
  max-width: 50%;
  min-width: 250px;
}

h2.titulo-loginpanel {
  text-shadow:
  -2px 2px 5px white,
  -2px -2px 5px rgb(13, 255, 243);
}

form#form-loginpanel input.logininput {
  
  background-color: transparent;
  backdrop-filter: blur(10px);
}

btn-salir {
  padding: 10px 20px;
  background-color: #d9534f;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn-salir:hover {
  background-color: #c9302c;
}

/***************************************/
/*******  SECCIÓN PANEL AGREGAR  *******/
/***************************************/

#panel {
  margin: 50px auto 10px auto;
  height: auto;
  padding: 25px;
  width: 100%;
  max-width: 85vw;
}

div.panel-adm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  background-color: rgb(239, 138, 138);
  border-radius: 25px;
  border: 3px dashed black;
}

div.titulo-panel-carga {
  text-align: center;
}

div.paneles {
  justify-content: space-evenly;
}

div.panel-carga {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  width: 100%;
  margin-bottom: 10px;
}

form#formulario-carga {
  width: 100%;
}

div.panel-muestra {
  background-color: lightgray;
  width: 450px;
  max-width: 90%;
  border: 2px solid rgb(15, 15, 15);
  margin: 40px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

div.panel-muestra p {
  font-size: 0.8rem;
  padding: 10px 20px 0px 20px;
}

.alerta {
  padding: 15px;
  margin: 20px 0;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.alerta.exito {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.alerta.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}
.alerta.peso {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

/***************************************/
/*******  SECCIÓN DATATABLE  *******/
/***************************************/

div.fondo-panel {
  background-color: rgb(239, 138, 138);
  padding-bottom: 10px;
  margin-top: 20px;
  border-radius: 25px;
  border: 3px dashed black;
}

div.caja-form-add {
  width: 100%;
  max-width: 500px;
  margin-left: 0px;
}

form#formulario-categoria {
  margin: 20px;
}

label.col-form-label {
  padding: 10px 0px 5px 0px;
  display: inline-flex;
}

input.btn-buscar {
  font-weight: bold;
  border: 1px solid white;
}

button a.btn-borrar-lista {
  color: red;
  text-decoration: none;
  font-weight: 500;
}

div.table-responsive {
  padding: 10px;
  overflow-x: auto;
  /* Mejor experiencia de scroll en dispositivos táctiles */
  -webkit-overflow-scrolling: touch;
}

table#tabla-resultado {
  min-width: 100%; /* Asegura que la tabla ocupe el espacio completo disponible */
  width: 100%; /* Asegura que la tabla tome el 100% del ancho disponible */
  background-color: transparent;
}

td {
  vertical-align: middle;
  text-align: center;
}

th {
  vertical-align: middle;
  text-align: center;
  font-weight: 500 !important;
  text-align: center !important;
}

.celda_func {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.celda_func button {
  margin: 5px;
}

td.img-fetched {
  vertical-align: middle;
  /*box-shadow: 0 0 5px rgba(241, 240, 240, 0.2);*/
}

label.label_listar_modal {
  display: flex;
  justify-content: flex-start;
  margin: 5px 0 0 0;
  font-weight: bold;
}

div.img-modal {
  background-color: rgba(0, 0, 0, 0.25);
}

div.dataTables_length,
div.dataTables_filter {
  margin: 10px 0px;
  text-align: start !important;
}

a.paginate_button.current {
  background-color: #ffffff !important;
  border-radius: 10px !important;
}
a.paginate_button {
  border-radius: 10px !important;
}

div.dataTables_length select,
div.dataTables_filter input {
  background-color: rgb(255, 255, 255) !important;
  border-radius: 10px !important;
}
